<div class="row height_100">
	<div ng-controller="ErrorMsgCtrl" class="scrollbar height_100">
		<section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<h4 translate="PROJECTS_EXPLANATION"></h4>
			<p translate="MW_ERROR_MESSAGES_EXPLANATION" class="continuous_text"></p>
		</section>
		<section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<h4 translate="PROJECTS_EXAMPLE"></h4>
			<form name="form" novalidate >
				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 " mw-error-message="MW_ERROR_MESSAGES_" mw-error-message-options="mwOptions_name">
					<input title="" type="name" name="name" ng-model="model.name" required/>
				</div>

				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 " mw-error-message="MW_ERROR_MESSAGES_" mw-error-message-options="mwOptions_email">
					<input title="" type="email" name="email" ng-model="model.email" required/>
				</div>

				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 " mw-error-message="MW_ERROR_MESSAGES_" mw-error-message-options="mwOptions_age">
					<input title="" type="name" name="age" ng-model="model.age" require birthday/>
				</div>

				<ol class="wm_error_tooltip">
					<li ng-repeat="(key, value) in tooltip_content">{{'"'+value+'"'}}</li>
				</ol>
			</form>
		</section>
		<section class="col-xs-12 col-sm-12 col-md-12 col-lg-12 continuous_text">
			<span>{{"PROJECTS_GITHUB_PAGE_TEXT"|translate}}<a>{{"PROJECTS_GITHUB_PAGE"|translate}}</a></span>
		</section>
	</div>
</div>