$primary-color_10 :rgba(0, 156, 207, 1.0);
$primary-color_09 :rgba(0, 156, 207, 0.9);
$primary-color_08 :rgba(0, 156, 207, 0.8);
$primary-color_07 :rgba(0, 156, 207, 0.7);
$primary-color_06 :rgba(0, 156, 207, 0.6);
$primary-color_05 :rgba(0, 156, 207, 0.5);
$primary-color_04 :rgba(0, 156, 207, 0.4);
$primary-color_03 :rgba(0, 156, 207, 0.3);
$primary-color_02 :rgba(0, 156, 207, 0.2);
$primary-color_01 :rgba(0, 156, 207, 0.1);
$primary-color_00 :rgba(0, 156, 207, 0.0);

$primary-background-color_10 :rgba(2, 14, 27, 1.0);
$primary-background-color_09 :rgba(2, 14, 27, 0.9);
$primary-background-color_08 :rgba(2, 14, 27, 0.8);
$primary-background-color_07 :rgba(2, 14, 27, 0.7);
$primary-background-color_06 :rgba(2, 14, 27, 0.6);
$primary-background-color_05 :rgba(2, 14, 27, 0.5);
$primary-background-color_04 :rgba(2, 14, 27, 0.4);
$primary-background-color_03 :rgba(2, 14, 27, 0.3);
$primary-background-color_02 :rgba(2, 14, 27, 0.2);
$primary-background-color_01 :rgba(2, 14, 27, 0.1);
$primary-background-color_00 :rgba(2, 14, 27, 0.0);

$primary-box-shadow_10 :rgba(0, 112, 202, 1.0);
$primary-box-shadow_09 :rgba(0, 112, 202, 0.9);
$primary-box-shadow_08 :rgba(0, 112, 202, 0.8);
$primary-box-shadow_07 :rgba(0, 112, 202, 0.7);
$primary-box-shadow_06 :rgba(0, 112, 202, 0.6);
$primary-box-shadow_05 :rgba(0, 112, 202, 0.5);
$primary-box-shadow_04 :rgba(0, 112, 202, 0.4);
$primary-box-shadow_03 :rgba(0, 112, 202, 0.3);
$primary-box-shadow_02 :rgba(0, 112, 202, 0.2);
$primary-box-shadow_01 :rgba(0, 112, 202, 0.1);
$primary-box-shadow_00 :rgba(0, 112, 202, 0.0);

$danger-box-shadow_10 :rgba(202, 3, 0, 1.0);
$danger-box-shadow_09 :rgba(202, 3, 0, 0.9);
$danger-box-shadow_08 :rgba(202, 3, 0, 0.8);
$danger-box-shadow_07 :rgba(202, 3, 0, 0.7);
$danger-box-shadow_06 :rgba(202, 3, 0, 0.6);
$danger-box-shadow_05 :rgba(202, 3, 0, 0.5);
$danger-box-shadow_04 :rgba(202, 3, 0, 0.4);
$danger-box-shadow_03 :rgba(202, 3, 0, 0.3);
$danger-box-shadow_02 :rgba(202, 3, 0, 0.2);
$danger-box-shadow_01 :rgba(202, 3, 0, 0.1);
$danger-box-shadow_00 :rgba(202, 3, 0, 0.0);

$success-box-shadow_10 :rgba(11, 202, 0, 1.0);
$success-box-shadow_09 :rgba(11, 202, 0, 0.9);
$success-box-shadow_08 :rgba(11, 202, 0, 0.8);
$success-box-shadow_07 :rgba(11, 202, 0, 0.7);
$success-box-shadow_06 :rgba(11, 202, 0, 0.6);
$success-box-shadow_05 :rgba(11, 202, 0, 0.5);
$success-box-shadow_04 :rgba(11, 202, 0, 0.4);
$success-box-shadow_03 :rgba(11, 202, 0, 0.3);
$success-box-shadow_02 :rgba(11, 202, 0, 0.2);
$success-box-shadow_01 :rgba(11, 202, 0, 0.1);
$success-box-shadow_00 :rgba(11, 202, 0, 0.0);

$primary-border-color_10 :rgba(66, 237, 248, 1.0);
$primary-border-color_09 :rgba(66, 237, 248, 0.9);
$primary-border-color_08 :rgba(66, 237, 248, 0.8);
$primary-border-color_07 :rgba(66, 237, 248, 0.7);
$primary-border-color_06 :rgba(66, 237, 248, 0.6);
$primary-border-color_05 :rgba(66, 237, 248, 0.5);
$primary-border-color_04 :rgba(66, 237, 248, 0.4);
$primary-border-color_03 :rgba(66, 237, 248, 0.3);
$primary-border-color_02 :rgba(66, 237, 248, 0.2);
$primary-border-color_01 :rgba(66, 237, 248, 0.1);
$primary-border-color_00 :rgba(66, 237, 248, 0.0);