<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta name="description" content="Portfolio"/>
		<meta name="author" content="MrWook"/>
		<title>Portfolio</title>
		<base href="/"/>

		<link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png?2"/>
		<link rel="icon" type="image/png" sizes="96x96" href="favicon/favicon-96x96.png?2"/>
		<link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png?2"/>
		<link rel="manifest" href="favicon/manifest.json"/>
		<meta name="msapplication-TileColor" content="#ffffff"/>
		<meta name="msapplication-TileImage" content="favicon/ms-icon-144x144.png"/>
		<meta name="theme-color" content="#ffffff"/>
	</head>
	<style>
		.container{
			border: 10px dashed red;
			width: 60%;
			height: 50%;
			display:block;
			margin:auto;
			padding: 10px;
		}
		.quote{
			font-style: italic;
			border: 1px dotted black;
		}
		blockquote{
			text-decoration: underline;
		}
		.donation{
			border: 1px solid black;
			width: 80%;
			display:block;
			text-align: center;
			border-left:20px solid blue;
			margin-top:10px;
		}
	</style>
	<body>
		<div class="container">
			<p>Every day, hundreds of poor webdeveloper working hard in their basements to provide you with a functional and compatible Website for the Internet Explorer.</p>
			<p>While they are suffering, they are wasting dozen of hours when they are trying to achive just this one goal.</p>
			<div class="quote">Super Famous Webdeveloper with much enterprise Skill "K0n05uba",
			<blockquote>"Why are we still here? Just to suffer? Every night, I can feel the animations... And the gradient... even the DOM elements... The hours I've lost... the comrades I've lost... won't stop hurting... It's like they're all still there. You feel it, too, don't you?"</blockquote></div>
			<p>Help now! Create a new world, liberated from the tyranny of the Internet Explorer.</p>
			<p>A world without misery, without despair, without wrath and without bloodshed....</p>
			<p>Donate now and be part of something bigger then you can imagine!!!</p>

			<label>
				Donations:
				<input title="" name="donation" required placeholder="10$"/>
			</label>
			<button>Donate Now!</button>

			<div class="donation">1337$/100.000</div>

			<p>Or begin to use a real Browser and not this dying child that can't be abonded from his parents(Microsoft)</p>
			<p><a target="_blank" href="https://www.google.com/chrome/browser/desktop/index.html">Chrome</a></p>
			<p><a target="_blank" href="https://www.mozilla.org/firefox/">Firefox</a></p>
			<p><a target="_blank" href="https://www.opera.com/download">Opera</a></p>
		</div>
	</body>
</html>