.content{
	position            :relative;
	width               :80%;
	height              :84%;
	@include perspective(750px);
	margin              :auto;
}
@media (max-width :650px){
	.content{
		height              :100%;
	}
}

.page{
	width                       :100%;
	height                      :100%;
	position                    :absolute;
	top                         :0;
	left                        :0;
	overflow                    :hidden;
	@include backface-visibility(hidden);
	@include transform(translate3d(0, 0, 0));
	@include transform-style(preserve-3d);
}

.flicker-off > .cube-animate{
	opacity :1;
}

.flicker-off.cube-left .cube-animate.ng-enter{
	@include transform-origin(0% 50%);
	@include animation(rotateCubeLeftIn .6s both ease-in);
}

.flicker-off.cube-left .cube-animate.ng-leave{
	@include transform-origin(100% 50%);
	@include animation(rotateCubeLeftOut .6s both ease-in);
	z-index                  :999;
}

.flicker-off.cube-right .cube-animate.ng-enter{
	@include transform-origin(100% 50%);
	@include animation(rotateCubeRightIn .6s both ease-in);
}

.flicker-off.cube-right .cube-animate.ng-leave{
	@include transform-origin(0% 50%);
	@include animation(rotateCubeRightOut .6s both ease-in);
	z-index                  :999;
}

.flicker-off.cube-up .cube-animate.ng-enter{
	@include transform-origin(50% 0%);
	@include animation(rotateCubeTopIn .6s both ease-in);
}

.flicker-off.cube-up .cube-animate.ng-leave{
	@include transform-origin(50% 100%);
	@include animation(rotateCubeTopOut .6s both ease-in);
	z-index                  :999;
}

.flicker-off.cube-down .cube-animate.ng-enter{
	@include transform-origin(50% 100%);
	@include animation(rotateCubeBottomIn .6s both ease-in);
}

.flicker-off.cube-down .cube-animate.ng-leave{
	@include transform-origin(50% 0%);
	@include animation(rotateCubeBottomOut .6s both ease-in);
	z-index                  :999;
}

/* cube */
@include keyframes(rotateCubeLeftOut){
	0%{
		opacity :1;
	}
	50%{
		opacity                           :.3;
		@include animation-timing(ease-out);
		@include transform(translateX(-50%) translateZ(-200px) rotateY(-45deg));
	}
	100%{
		opacity           :0;
		@include transform(translateX(-100%) rotateY(-90deg));
	}
};

@include keyframes(rotateCubeLeftIn){
	0%{
		opacity           :.3;
		@include transform(translateX(100%) rotateY(90deg));
	}
	50%{
		@include animation-timing(ease-out);
		@include transform(translateX(50%) translateZ(-200px) rotateY(45deg));
	}
};
@include keyframes(rotateCubeRightOut){
	0%{
		opacity :1;
	}
	50%{
		opacity                           :.3;
		@include animation-timing(ease-out);
		@include transform(translateX(50%) translateZ(-200px) rotateY(45deg));
	}
	100%{
		opacity           :0;
		@include transform(translateX(100%) rotateY(90deg));
	}
};

@include keyframes(rotateCubeRightIn){
	0%{
		opacity           :.3;
		@include transform(translateX(-100%) rotateY(-90deg));
	}
	50%{
		@include animation-timing(ease-out);
		@include transform(translateX(-50%) translateZ(-200px) rotateY(-45deg));
	}
};
@include keyframes(rotateCubeTopOut){
	0%{
		opacity :1;
	}
	50%{
		opacity                           :.3;
		@include animation-timing(ease-out);
		@include transform(translateY(-50%) translateZ(-200px) rotateX(45deg));
	}
	100%{
		opacity           :0;
		@include transform(translateY(-100%) rotateX(90deg));
	}
};

@include keyframes(rotateCubeTopIn){
	0%{
		opacity           :.3;
		@include transform(translateY(100%) rotateX(-90deg));
	}
	50%{
		@include animation-timing(ease-out);
		@include transform(translateY(50%) translateZ(-200px) rotateX(-45deg));
	}
};

@include keyframes(rotateCubeBottomOut){
	0%{
		opacity :1;
	}
	50%{
		opacity                           :.3;
		@include animation-timing(ease-out);
		@include transform(translateY(50%) translateZ(-200px) rotateX(-45deg));
	}
	100%{
		opacity           :0;
		@include transform(translateY(100%) rotateX(-90deg));
	}
};

@include keyframes(rotateCubeBottomIn){
	0%{
		opacity           :.3;
		@include transform(translateY(-100%) rotateX(90deg));
	}
	50%{
		@include animation-timing(ease-out);
		@include transform(translateY(-50%) translateZ(-200px) rotateX(45deg));
	}
};

@media (max-width :650px){
	.content{
		width :100%;
	}

	.page{
		padding-top :40px;
	}
}