.flicker-in > .cube-animate{
	@include animation(flicker-in 2.0s linear both);
}

.flicker{
	-webkit-animation: flicker 2s linear infinite both;
	animation: flicker 2s linear infinite both;
}

@include keyframes(flicker-in){
	0% {
		opacity: 0;
	}
	10% {
		opacity: 0;
	}
	10.1% {
		opacity: 1;
	}
	10.2% {
		opacity: 0;
	}
	20% {
		opacity: 0;
	}
	20.1% {
		opacity: 1;
	}
	20.6% {
		opacity: 0;
	}
	30% {
		opacity: 0;
	}
	30.1% {
		opacity: 1;
	}
	30.5% {
		opacity: 1;
	}
	30.6% {
		opacity: 0;
	}
	45% {
		opacity: 0;
	}
	45.1% {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	55% {
		opacity: 1;
	}
	55.1% {
		opacity: 0;
	}
	57% {
		opacity: 0;
	}
	57.1% {
		opacity: 1;
	}
	60% {
		opacity: 1;
	}
	60.1% {
		opacity: 0;
	}
	65% {
		opacity: 0;
	}
	65.1% {
		opacity: 1;
	}
	75% {
		opacity: 1;
	}
	75.1% {
		opacity: 0;
	}
	77% {
		opacity: 0;
	}
	77.1% {
		opacity: 1;
	}
	85% {
		opacity: 1;
	}
	85.1% {
		opacity: 0;
	}
	86% {
		opacity: 0;
	}
	86.1% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
};

@include keyframes(flicker){
	0%,
	100% {
		opacity: 1;
	}
	41.99% {
		opacity: 1;
	}
	42% {
		opacity: 0;
	}
	43% {
		opacity: 0;
	}
	43.01% {
		opacity: 1;
	}
	45.99% {
		opacity: 1;
	}
	46% {
		opacity: 0;
	}
	46.9% {
		opacity: 0;
	}
	46.91% {
		opacity: 1;
	}
	51.99% {
		opacity: 1;
	}
	52% {
		opacity: 0;
	}
	52.8% {
		opacity: 0;
	}
	52.81% {
		opacity: 1;
	}
}