/*.slider{*/
	/*display: flex;*/
	/*align-items: center;*/
	/*justify-content: center;*/
	/*text-align: center;*/
	/*height: 100%;*/
/*}*/
/*.slider:before,*/
/*.slider:after{*/
	/*content          :"";*/
	/*position         :absolute;*/
	/*width: 60px;*/
	/*height: 15%;*/
	/*background-color :red;*/
/*}*/
/*.slider:before{*/
	/*left:0;*/
	/*background-color :red;*/
/*}*/

/*.slider:after{*/
	/*right:0;*/
	/*background-color :red;*/
/*}*/

/*.slider article{*/
	/*height: 80%;*/
	/*margin-left: 5px;*/
	/*margin-right: 5px;*/
	/*border:1px solid black;*/
	/*background-color: pink;*/
	/*width:30%;*/
	/*display:flex;*/
	/*align-items:center;*/
/*}*/
