.star{
	width            :1px;
	height           :1px;
	background-color :transparent;
	top              :50%;
	left             :50%;
	position         :absolute;
}

.star_1{
	-moz-animation    :glow 1s ease-in-out infinite alternate;
	-ms-animation     :glow 1s ease-in-out infinite alternate;
	-o-animation      :glow 1s ease-in-out infinite alternate;
	-webkit-animation :glow 1s ease-in-out infinite alternate;
	animation         :glow 1s ease-in-out infinite alternate;
}

.star_2{
	-moz-animation    :glow 1.2s ease-in-out infinite alternate;
	-ms-animation     :glow 1.2s ease-in-out infinite alternate;
	-o-animation      :glow 1.2s ease-in-out infinite alternate;
	-webkit-animation :glow 1.2s ease-in-out infinite alternate;
	animation         :glow 1.2s ease-in-out infinite alternate;
}

.star_3{
	-moz-animation    :glow 1.4s ease-in-out infinite alternate;
	-ms-animation     :glow 1.4s ease-in-out infinite alternate;
	-o-animation      :glow 1.4s ease-in-out infinite alternate;
	-webkit-animation :glow 1.4s ease-in-out infinite alternate;
	animation         :glow 1.4s ease-in-out infinite alternate;
}

.star_4{
	-moz-animation    :glow 1.6s ease-in-out infinite alternate;
	-ms-animation     :glow 1.6s ease-in-out infinite alternate;
	-o-animation      :glow 1.6s ease-in-out infinite alternate;
	-webkit-animation :glow 1.6s ease-in-out infinite alternate;
	animation         :glow 1.6s ease-in-out infinite alternate;
}

.star_5{
	-moz-animation    :glow 1.8s ease-in-out infinite alternate;
	-ms-animation     :glow 1.8s ease-in-out infinite alternate;
	-o-animation      :glow 1.8s ease-in-out infinite alternate;
	-webkit-animation :glow 1.8s ease-in-out infinite alternate;
	animation         :glow 1.8s ease-in-out infinite alternate;
}

.star_6{
	-moz-animation    :glow 2.0s ease-in-out infinite alternate;
	-ms-animation     :glow 2.0s ease-in-out infinite alternate;
	-o-animation      :glow 2.0s ease-in-out infinite alternate;
	-webkit-animation :glow 2.0s ease-in-out infinite alternate;
	animation         :glow 2.0s ease-in-out infinite alternate;
}

.star_7{
	-moz-animation    :glow 2.2s ease-in-out infinite alternate;
	-ms-animation     :glow 2.2s ease-in-out infinite alternate;
	-o-animation      :glow 2.2s ease-in-out infinite alternate;
	-webkit-animation :glow 2.2s ease-in-out infinite alternate;
	animation         :glow 2.2s ease-in-out infinite alternate;
}

.star_8{
	-moz-animation    :glow 2.4s ease-in-out infinite alternate;
	-ms-animation     :glow 2.4s ease-in-out infinite alternate;
	-o-animation      :glow 2.4s ease-in-out infinite alternate;
	-webkit-animation :glow 2.4s ease-in-out infinite alternate;
	animation         :glow 2.4s ease-in-out infinite alternate;
}

.star_9{
	-moz-animation    :glow 2.6s ease-in-out infinite alternate;
	-ms-animation     :glow 2.6s ease-in-out infinite alternate;
	-o-animation      :glow 2.6s ease-in-out infinite alternate;
	-webkit-animation :glow 2.6s ease-in-out infinite alternate;
	animation         :glow 2.6s ease-in-out infinite alternate;
}

.star_10{
	-moz-animation    :glow 2.8s ease-in-out infinite alternate;
	-ms-animation     :glow 2.8s ease-in-out infinite alternate;
	-o-animation      :glow 2.8s ease-in-out infinite alternate;
	-webkit-animation :glow 2.8s ease-in-out infinite alternate;
	animation         :glow 2.8s ease-in-out infinite alternate;
}

@keyframes glow{
	from{
		background-color :rgba(255, 255, 255, 0.1);
		box-shadow       :0 0 15px 0 rgb(255, 255, 255);
	}
	to{
		background-color :rgba(255, 255, 255, 0.5);
		box-shadow       :0 0 15px 1px rgb(255, 255, 255);
	}
}

@-webkit-keyframes glow{
	from{
		background-color :rgba(255, 255, 255, 0.1);
		box-shadow       :0 0 15px 0 rgb(255, 255, 255);
	}
	to{
		background-color :rgba(255, 255, 255, 0.5);
		box-shadow       :0 0 15px 1px rgb(255, 255, 255);
	}
}

@-moz-keyframes glow{
	from{
		background-color :rgba(255, 255, 255, 0.1);
		box-shadow       :0 0 15px 0 rgb(255, 255, 255);
	}
	to{
		background-color :rgba(255, 255, 255, 0.5);
		box-shadow       :0 0 15px 1px rgb(255, 255, 255);
	}
}

@-ms-keyframes glow{
	from{
		background-color :rgba(255, 255, 255, 0.1);
		box-shadow       :0 0 15px 0 rgb(255, 255, 255);
	}
	to{
		background-color :rgba(255, 255, 255, 0.5);
		box-shadow       :0 0 15px 1px rgb(255, 255, 255);
	}
}