@import '../options/variables';
@import '../options/mixin';

.timeline{
	height   :90%;
	position :relative;
	padding  :0;
}

.timeline_pages{
	float    :left;
	position :absolute;
}

.timeline div.even:after,
.timeline div.odd:after{
	@include pseudo();
	@include border-radius(50%);
	@include box-shadow(0 0 20px 3px $primary-box-shadow_05);
	background-color :$primary-color_10;
	border-radius    :50%;
	height           :14px;
	width            :14px;
}

.timeline div.even:before,
.timeline div.odd:before{
	@include pseudo();
	background-color :$primary-border-color_04;
	@include box-shadow(0 0 20px 3px $primary-box-shadow_05);
}

.timeline div section{
	height         :100%;
	@include display-flex();
	@include flex-direction(column);
}
//mobile
@media (max-width :650px){
	.timeline_wrapper{
		width:50%;
		float:left;
		height:100%;
	}

	.timeline_pages{
		height :10%;
	}

	.timeline div.even{
		width :50%;
	}

	.timeline div.odd{
		width :50%;
		left  :calc(50% - 1px);
	}

	.timeline div.even:after{
		right :-7px;
		top   :calc(50% - 7px);
	}

	.timeline div.odd:after{
		left :-7px;
		top  :calc(50% - 7px);
	}

	.timeline div.even:before,
	.timeline div.odd:before{
		width  :1px;
		height :100%;
	}

	.timeline div.even:before{
		right :0;
	}
	.timeline div.odd:before{
		left :0;
	}

	.timeline div.even section header,
	.timeline div.even section main{
		margin-left :auto;
	}

	.timeline div.even section main{
		text-align:right;
	}

	.timeline div section{
		justify-content :center;
	}

	.timeline div.even section{
		padding-right :10px;
	}
	.timeline div.odd section{
		padding-left :10px;
	}
}
//desktop
@media (min-width :650px){
	.timeline_wrapper{
		height:50%;
	}

	.timeline_pages{
		width :10%;
	}

	.timeline div.even{
		height :50%;
	}

	.timeline div.odd{
		height :50%;
		top    :calc(50% - 1px);
	}

	.timeline div.even:after{
		bottom :-7px;
		left   :calc(50% - 7px);
	}
	.timeline div.odd:after{
		top  :-7px;
		left :calc(50% - 7px);
	}

	.timeline div.even:before,
	.timeline div.odd:before{
		height :1px;
		width  :100%;
	}

	.timeline div.even:before{
		bottom :0;
	}
	.timeline div.odd:before{
		top :0;
	}

	.timeline div section header,
	.timeline div section main{
		margin-left  :auto;
		margin-right :auto;
	}

	.timeline div.even section{
		justify-content :flex-end;
		padding-bottom  :10px;
	}
	.timeline div.odd section{
		justify-content :flex-start;
		padding-top     :10px;
	}

}