@import '../options/variables';
@import '../options/mixin';

.form-control{
	max-width        :100%;
	color            :$primary-color_08;
	background-color :$primary-background-color_08;
	@include box-shadow(inset 0 0 12px 1px $primary-box-shadow_06);
	border           :0;
	max-height       :200px;

	@include input-placeholder{
		color :$primary-color_04;
	}
}

.form-control:focus{
	background-color :$primary-background-color_08;
	@include box-shadow(inset 0 0 12px 1px $primary-box-shadow_02);
	border           :0;
}
.container{
	margin-bottom:10px;
}
.container button{
	border           :none;
	position         :relative;
	outline          :none;
	color            :$primary-color_08;
	background-color :$primary-background-color_08;
	@include border-radius(25px);
}

.container button:before{
	content    :" ";
	position   :absolute;
	left       :0;
	top        :0;
	box-sizing :border-box;
	width      :100%;
	height     :100%;
	@include transition(all 0.7s ease);
	border     :5px rgba(66, 214, 202, 0) solid;
}

.container button:hover{
	color            :$primary-color_06;
	background-color :$primary-background-color_06;
	@include border-radius(20px);
	outline          :none;
}

.container button:focus,
.container button:active,
.container button:active:hover{
	outline          :none;
	background-color :$primary-background-color_08;
	color            :$primary-color_04;
}

.container button:hover:before{
	@include border-radius(30px);
	border-radius :30px;
	border        :1px solid $primary-border-color_05;
}

.alert{
	padding: 10px;
	text-shadow:none;
	box-shadow: none;
	margin-top: 10px;
	border:0;
	text-transform:none;
}

.alert .close{
	top:0;
	right:0;
	text-shadow:none;
	opacity:1;
	outline: none;
}

.alert-success{
	@include box-shadow(inset 0 0 12px 1px $success-box-shadow_04, 0 0 20px 2px $success-box-shadow_03);
	color: $success-box-shadow_04;
	background :$primary-background-color_08 none;
}
.alert-success .close{
	color: $success-box-shadow_04;
}

.alert-danger{
	@include box-shadow(inset 0 0 12px 1px $danger-box-shadow_04, 0 0 20px 2px $danger-box-shadow_03);
	color: $danger-box-shadow_04;
	background :$primary-background-color_08 none;
}
.alert-danger .close{
	color: $danger-box-shadow_04;
}

.alert.ng-enter{
	overflow:hidden;
	@include animation(alert_enter 0.35s both linear);
}

.alert.ng-leave{
	overflow:hidden;
	@include animation(alert_leave 0.35s both linear);
}

@include keyframes(alert_enter){
	0%{
		opacity :0;
		max-height:0;
		padding-top:0;
		padding-bottom:0;
		margin-top:0;
		margin-bottom:0;
	}
	100%{
		opacity:1;
		max-height:100px;
		padding-top:10px;
		padding-bottom:10px;
		margin-top:10px;
		margin-bottom:20px;
	}
};
@include keyframes(alert_leave){
	0%{
		opacity :1;
		max-height:100px;
		padding-top:10px;
		padding-bottom:10px;
		margin-top:10px;
		margin-bottom:20px;
	}
	100%{
		opacity:0;
		max-height:0;
		padding-top:0;
		padding-bottom:0;
		margin-top:0;
		margin-bottom:0;
	}
};

.alert ul li{
	list-style-type: none;
}

.alert ul > :first-child {
	list-style-type: disc;
}