@import '../options/variables';
@import '../options/mixin';

form .error_message_box{
	min-height :100px;
}

form .error_message_box div input{
	max-width        :100%;
	color            :$primary-color_08;
	background-color :$primary-background-color_08;
	@include box-shadow(inset 0 0 12px 1px $primary-box-shadow_06);
	border           :0;
}

form .error_message_box div input:focus{
	background-color :$primary-background-color_08;
	@include box-shadow(inset 0 0 12px 1px $primary-box-shadow_02);
	border           :0;
}

form .error_message_box div input{
	@include input-placeholder{
		color :$primary-color_04;
	}
}

form .error_message_box div .wm_error_message_icon{
	top :7px;
}

form .error_message_box.has-error div input{
	@include box-shadow(inset 0 0 12px 1px $danger-box-shadow_02);
}

form .error_message_box.has-success div input{
	@include box-shadow(inset 0 0 12px 1px $success-box-shadow_02);
}

form .error_message_box div ng-message{
	font-size :60%;
}